/* GENERAL */

.none {
  background-color: #274c5e;
  color: #dae9f4;
  border: #77919d;
  color: #7f9eb2;
}

.App {
  text-align: justify;
  background-color: #274c5e;
  color: #dae9f4;
  animation: 3s infinite;
}

.react-grid-layout {
  position: relative;
}

/* INFORMATION */
.info-box {
  border: #77919d solid 2px;
  background-color: #79a8a9;
}

.info-content-img {
  float: left;
  margin: 0 10px 10px 10px;
}

.info-content-text {
  text-align: justify;
  text-indent: 10px;
  margin: 10px;
}

.info-title {
  text-align: left;
  margin-left: 20px;
}

/* USERS - MATCHMAKING */
.matchmaking {
  background-color: #79a8a9;
  width: 980px;
  margin-left: 10%;
}

.team-title {
  display: flex;
}
.user-bar-container {
  border: #77919d 2px solid;
}
.user-image {
  margin: 5px;
}

.user-name {
  text-align: justify;
  text-indent: 10px;
  margin: 10px;
}

.user-points {
  background-color: #f6ea8c;
  padding: 3px;
  color: black;
  display: flex;
}

.red {
  background-color: #AF4034;
}

.red img{
 float: left;
}

.red .user-name {
  float: right;
}

.red .user-points {
  float: left;
  bottom: 0;
}

.blue {
  background-color: #274c5e;
}

.blue img{
  float: right;
}

.blue .user-name {
  float: left;
}

.blue .user-points {
  float: right;
}

/* NAVIGATION */

.navbar {
  background-color: #77919d;
  position: relative;
  top: 0;
  left: 0;
  height: 80px;
  overflow: hidden;
}

.navbar i {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar i:hover {
  background-color: #ddd;
  color: black;
}


.navbar i.active {
  background-color: #4CAF50;
  color: white;
}

.nav-center {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.nav-right {
  float: right;
}

.nav-left {
  float: left;
}

/* FOOTER */

.footer {
  background-color: #77919d;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.footer-content {
  padding-top: 6px;
  margin-left: 10px;
}

.footer span {
  font-size: 8px;
}


.no-response {
  margin-top: 80px;
  font-size: 40px;
}

